<launch>	
	<!-- ACQUISITION -->
    <!-- arguments -->
	<arg name="plugin"     default='rosneuro::EGDDevice'/>
	<arg name="devarg"     default='/home/paolo/s3_prova.gdf'/>
	<arg name="framerate"  default='16'/>
	<arg name="samplerate" default='512'/>

    <!-- node -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen">
  	  <param name="~plugin" 	  value="$(arg plugin)"/>
  	  <param name="~devarg" 	  value="$(arg devarg)"/>
  	  <param name="~samplerate"   value="$(arg samplerate)"/>
  	  <param name="~framerate"    value="$(arg framerate)"/>
  	</node> 


    <!-- FEEDBACK -->
    <!-- arguments -->
    <arg name="modality"            default='calibration'/>
    <arg name="thresholds_feedback" default='[0.7, 0.7]'/> 
    <arg name="classes"             default='[771, 773, 783]'/>
    <arg name="trials"              default='[10, 10, 10]'/>
    <arg name="show_on_rest"        default='True'/>

    <!-- node -->
    <node name="trainingwheel" pkg="rosneuro_feedback_wheel" type="trainingwheel"  output="screen">
        <rosparam param="modality" subst_value="True">$(arg modality)</rosparam>
        <rosparam param="thresholds" subst_value="True">$(arg thresholds_feedback)</rosparam>
        <rosparam param="classes" subst_value="True">$(arg classes)</rosparam>
        <rosparam param="trials" subst_value="True">$(arg trials)</rosparam>
        <rosparam param="show_on_rest" subst_value="True">$(arg show_on_rest)</rosparam>
    </node>


    <!-- RECORDING -->
    <!-- arguments recording -->
    <arg name="autostart"  default='true'/>
	<arg name="filepath"   default='/home/paolo'/>

    <!-- arguments protocol -->
    <arg name="subject"    default="s1"/>
	<arg name="task"       default="mi_bhbf"/>
	<arg name="extra"      default=""/>	
	<rosparam param="/protocol/subject"	 subst_value="True">$(arg subject)</rosparam>
	<rosparam param="/protocol/modality" subst_value="True">$(arg modality)</rosparam>
	<rosparam param="/protocol/task"	 subst_value="True">$(arg task)</rosparam>
	<rosparam param="/protocol/extra"	 subst_value="True">$(arg extra)</rosparam>

    <!-- node -->
    <node name="recorder" pkg="rosneuro_recorder" type="recorder" >
		<param name="~autostart" value="$(arg autostart)"/>
		<param name="~filepath" value="$(arg filepath)"/>
	</node>
</launch>