<launch>	
	<!-- ACQUISITION -->
    <!-- arguments -->
	<arg name="plugin"     default='rosneuro::EGDDevice'/>
	<arg name="devarg"     default='/home/paolo/prova16ch.gdf'/>
	<arg name="framerate"  default='16'/>
	<arg name="samplerate" default='512'/>

    <!-- node -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen">
  	  <param name="~plugin" 	  value="$(arg plugin)"/>
  	  <param name="~devarg" 	  value="$(arg devarg)"/>
  	  <param name="~samplerate"   value="$(arg samplerate)"/>
  	  <param name="~framerate"    value="$(arg framerate)"/>
  	</node> 

    
    <!-- PROCESSING -->
    <!-- arguments -->
	<rosparam command="load" file="$(find rosneuro_smr_processing)/cfg/ringbuffer.yaml"/>
	<rosparam command="load" file="$(find rosneuro_smr_processing)/cfg/16ch/laplacian.yaml"/>
	<rosparam command="load" file="$(find rosneuro_smr_processing)/cfg/16ch/gaussianCfg.yaml"/>
	<arg name="plugin_decoder" default='rosneuro::decoder::Gaussian'/>
	<arg name="cfg_name"       default='GaussianCfg'/>
    <arg name="nchannels"      default='16'/>
    <arg name="wlength"        default='256'/>
    <arg name="wtype"          default='2'/>
    <arg name="novl"           default='128'/>
    <arg name="dolog"          default='1'/>
    <arg name="nsamples"       default='32'/>

    <!-- node -->
	<node name="smr" pkg="rosneuro_smr_processing" type="smr" output="screen"> 
		<param name="plugin" 	  value="$(arg plugin_decoder)"/>
        <param name="cfg_name" 	  value="$(arg cfg_name)"/>
        <param name="nchannels"   value="$(arg nchannels)"/>
        <param name="wlength" 	  value="$(arg wlength)"/>
        <param name="wtype" 	  value="$(arg wtype)"/> <!--2 is hamming-->
        <param name="novl" 	      value="$(arg novl)"/>
        <param name="dolog" 	  value="$(arg dolog)"/>
        <param name="nsamples" 	  value="$(arg nsamples)"/>
        <param name="samplerate"  value='512'/>
	</node>


    <!-- INTEGRATOR -->
    <!-- arguments -->
    <arg name="plugin_integrator" default='rosneuro::integrator::Exponential'/>
    <arg name="thresholds_integrator" default='[0.7 0.7]'/>

    <!-- node -->
    <node name="integrator" pkg="rosneuro_integrator" type="integrator" output="screen">
        <param name="plugin" value="$(arg plugin_integrator)"/>
        <rosparam param="thresholds" subst_value="true">$(arg thresholds_integrator)</rosparam>
        <remap from="/integrated" to="integrator/neuroprediction"/>
    </node>


    <!-- FEEDBACK -->
    <!-- arguments -->
    <arg name="modality"            default='evaluation'/>
    <arg name="thresholds_feedback" default='[0.7, 0.7]'/> 
    <arg name="classes"             default='[771, 773, 783]'/>
    <arg name="trials"              default='[10, 10, 10]'/>
    <arg name="show_on_rest"        default='True'/>

    <!-- node -->
    <node name="trainingwheel" pkg="rosneuro_feedback_wheel" type="trainingwheel"  output="screen">
        <rosparam param="modality" subst_value="True">$(arg modality)</rosparam>
        <rosparam param="thresholds" subst_value="True">$(arg thresholds_feedback)</rosparam>
        <rosparam param="classes" subst_value="True">$(arg classes)</rosparam>
        <rosparam param="trials" subst_value="True">$(arg trials)</rosparam>
        <rosparam param="show_on_rest" subst_value="True">$(arg show_on_rest)</rosparam>
    </node>


    <!-- RECORDING -->
    <!-- arguments recording -->
    <arg name="autostart"  default='true'/>
	<arg name="filepath"   default='/home/paolo'/>

    <!-- arguments protocol -->
    <arg name="subject"    default="s1"/>
	<arg name="task"       default="mi_bhbf"/>
	<arg name="extra"      default=""/>	
	<rosparam param="/protocol/subject"	 subst_value="True">$(arg subject)</rosparam>
	<rosparam param="/protocol/modality" subst_value="True">$(arg modality)</rosparam>
	<rosparam param="/protocol/task"	 subst_value="True">$(arg task)</rosparam>
	<rosparam param="/protocol/extra"	 subst_value="True">$(arg extra)</rosparam>

    <!-- node -->
    <node name="recorder" pkg="rosneuro_recorder" type="recorder" >
		<param name="~autostart" value="$(arg autostart)"/>
		<param name="~filepath" value="$(arg filepath)"/>
	</node>
</launch>
